* {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    padding: 1.25rem;
    display: flex;
    justify-content: center;
    font-family: Inter;
    background-color: #EFEFEF;
}

.star {
    height: 1.9rem;
    width: 1.9rem;
    cursor: pointer;
    transition: color .5s ease-in-out;
    user-select: none;
    color: white;
}

.star.filled {
    color: orange;
}

button {
    background-color: #E5E7EB;
    color: #4B5563;
    border: 1px solid #6B7280;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    font-weight: 700;
    padding: 0.6rem 1.1rem;
    border-radius: 6px;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
}

button:focus {
    outline: none;
}

button.button-sm {
    padding: 0.45rem 0.7rem;
    font-size: 0.75rem;
}

button.button-lg {
    padding: 0.8rem 1.6rem;
}

button.button-success {
    color: #047857;
    background-color: #ECFDF5;
    border-color: #047857;
}
 
button.button-warning {
    color: #FBBF24;
    background-color: #FFFBEB;
    border-color: #FBBF24;
}
 
button.button-danger {
    color: #F87171;
    background-color: #FEF2F2;
    border-color: #F87171;
}

.menu {
    position: relative;
    display: inline-block;
}

.menu-button {
    background-color: white;
}

.menu-dropdown {
    position: absolute;
    left: 0;
    margin-top: 0.2rem;
    background-color: white;
    border: 1px solid gray;
    border-radius: 6px;
}

.menu-item {
    color: #4B5563;
    padding: 0.75rem;
    cursor: pointer;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.menu-item:hover {
    background-color: whitesmoke;
}

.menu-item:not(:last-child) {
    border-bottom: 1px solid #6B7280;
}

.box {
    height: 6.25rem;
    width: 6.25rem;
    border: 1px solid black;
    cursor: pointer;
    background-color: white;
    transition: background-color .3s ease-in-out;
}

.box.filled {
    background-color: blue;
}