.testimonial {
    background-color: #FFF;
    width: 80%;   
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3rem;
}

.testimonial > p {
    color: #111827;
    font-size: 1.5rem;
    line-height: 1.7;
    width: 90%;
}

.signature {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 0.3rem;
    margin: 1.3rem 0 5rem 1.3rem;
}

.logo {
    margin: 4rem 0 2rem 0;
}

.span {
    display: none;
}

.withPicture {
    background: linear-gradient(to bottom, white 20%, #2545B8 20%);
    color: white;
    width: 80%;   
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3rem;
}

/* With cropped picture styles */

.p-picture {
    color: white;
    font-size: 1.5rem;
    line-height: 1.7;
    width: 90%;
    margin-left: 1.5rem;
}

.portrait {
    display: none;
}

.portrait-cropped {
    padding-top: 0.3rem;
    width: 100%;
}

.narekovaj {
    align-self: flex-start;
    margin: 1rem 0 1rem 1.5rem;
}

.span-picture {
    display: none;
}

.signature-picture {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
    gap: 0.3rem;
}

/* Media queries */

@media (min-width: 768px) {
    .testimonial {
        width: 90%;  
        padding: 4rem;
        text-align: center; 
    }
    
    .testimonial > p {
        font-size: 1.6rem;
    }
    
    .signature {
        align-self: center;
        flex-direction: row;
        gap: 0.7rem;
        margin-top: 0.5rem;
    }
    
    .span {
        color: #2E59F3;
        font-weight: bold;
        display: block;
    }
    
    /* With big picture styles */
    
    .portrait-cropped {
        display: none;
    }
    
    .portrait {
        display: block;
    }
    
    .withPicture {
        width: 90%
    }
}    

@media (min-width: 1025px) {
    
    /* Big picture only */
    
    body {
        padding: 1rem;
        margin: 0;
    }
    
    .withPicture {
        width: 90%;
        height: 25rem;
        background: #2545B8;
        flex-direction: row;
        margin-bottom: 2rem;
        margin-top: 4rem;
    }
    
    .float-div > p {
        font-size: 1.2rem;
        line-height: 1.4;
    }
    
    .portrait {
        margin-left: 4rem;
        position: relative;
        top: 1.1rem;
    }
    
    .float-div {
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
        width: 50%;
        position: relative;
        top: 1.9rem;
    }
    
    .signature-picture {
        margin: 0;
        padding-top: 1rem;
        gap: 0.3rem;
    }
    
    .quotation {
        margin-bottom: 1rem;
        height: 2.5rem;
        width: 3rem;
    }
    
    .name-div {
        font-weight: bold;
    }
    
}