.polygon {
    position: absolute;
    left: 5rem;
    top: 6.7rem;
    font-size: 2.5rem;
}

.polygon-light {
    color: #E0E7FF;
}

.polygon-dark {
    color: #1E40AF;
}

.tooltip {
    position: relative;
    color: #C7C7C7;
    width: 28rem;
    height: 7.5rem;
    border-radius: 10px;
    display: flex;
    gap: 1.6rem;
    padding: 1.5rem;
}

.tooltip-dark {
    background: #1E40AF;
}

.tooltip-light {
    background: #E0E7FF;
    color: #1C51B9;
}

.close-btn {
    border: none;
    align-self: flex-start;
    padding: 0;
    font-weight: 100;
    font-size: 1.2rem;
}

.close-btn-dark {
    background: #1E40AF;
    color: white;
}

.close-btn-light {
    color: #1C51B9;
}

.content-div {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.9rem;    
}

.header {
    font-weight: bold;
}
